/*
 *rpg-test by Literal Line
 *more at quique.gq
 */

@font-face {
  font-family: 'Zelda DX';
  src: url('./assets/zeldadxt.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #111111;
	color: #FFFFFF;
	font-family: "Zelda DX";
	text-align: center;
}

a {
	text-decoration: none;
	color: #d1401f;
}

canvas {
	/*border: 1px solid #FFFFFF;*/
	/*cursor: url('./assets/cursor.png'), auto;*/
	display: block;
	margin: auto;
}

#preload {
	position: fixed;
	left: 200vw;
	opacity: 0;
}
